---
interface Props {
  href?: string;
  variant?: "primary" | "secondary" | "outline";
  disabled?: boolean;
  type?: "button" | "submit" | "reset";
  class?: string;
}

const {
  href,
  variant = "primary",
  disabled = false,
  type = "button",
  class: className = "",
} = Astro.props;

// Estilos base - agregado flex items-center justify-center gap-2
const baseClasses =
  "px-8 py-4 font-semibold rounded-lg transition-all shadow-lg hover:shadow-xl inline-flex items-center cursor-pointer justify-center gap-2";

// Variantes
const variantClasses = {
  primary:
    "bg-Orange-vibrant dark:bg-Orange-vibrant-dark hover:bg-Orange-vibrant/90",
  secondary: "bg-Cyan-accent hover:bg-Cyan-accent/96 text-Cyan-accent-text",
  outline:
    "bg-transparent hover:bg-Neutral-100 dark:hover:bg-Neutral-700 text-Text-dark dark:text-Orange-vibrant-dark border-2 border-Orange-vibrant dark:border-Neutral-600",
};

const disabledClasses = disabled ? "opacity-50 cursor-not-allowed" : "";

const classes = `${baseClasses} ${variantClasses[variant]} ${disabledClasses} ${className}`;
---

{
  href ? (
    <a href={href} class={classes}>
      <slot />
    </a>
  ) : (
    <button type={type} class={classes} disabled={disabled}>
      <slot />
    </button>
  )
}
