---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";
import HouseIcon from "./HouseIcon.astro";

// Obtener todos los proyectos y ordenarlos
const allProjects = await getCollection("projects");
const projects = allProjects
  .filter((project) => project.data.featured)
  .sort((a, b) => (a.data.order || 0) - (b.data.order || 0))
  .slice(0, 3);
---

<section id="projects" class="projects flex flex-col justify-center py-20">
  <div class="max-w-6xl md:px-4 px-6">
    <div class="text-center mb-16 max-w-3xl mx-auto">
      <h2 class="text-4xl font-bold mb-4 dark:text-white">Latest Projects</h2>
      <p class="font-medium text-lg text-body dark:text-body-light">
        Una colección de mi trabajo reciente, mostrando soluciones innovadoras y
        código limpio. Haz clic para explorar los detalles.
      </p>
    </div>
    <div
      class="grid grid-cols-1 gap-8 place-items-center md:grid-cols-2 xl:grid-cols-3"
    >
      {
        projects.map((project) => (
          <ProjectCard
            title={project.data.title}
            description={project.data.description}
            imageUrl={project.data.image}
            projectUrl={project.data.projectUrl}
            tecnologies={project.data.technologies}
            icon={project.data.icon}
          />
        ))
      }
    </div>
  </div>
</section>
